@charset "UTF-8";

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body
{
	font-family:Arial, sans-serif;
	background-color:#B4F8C8;
}

header nav
{
	display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #00ff80;
    padding: 1rem 2rem;
    color: white;
}
header nav a.logo {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}
header nav a.logo {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}
header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 1rem;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.movie_image {
    width: 400px;            /* Set the width of each image */
    height: auto;            /* Adjust height automatically to maintain aspect ratio */
    margin: 10px;            /* Add space around each image */
    border: 2px solid #ccc;  /* Add a border around each image */
    border-radius: 8px;      /* Make the corners rounded */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
    transition: transform 0.5s ease; /* Smooth zoom effect on hover */
}

.movie_image:hover {
    transform: scale(1.3); /* Slightly zoom in on hover */
    border-color: #eb4ef8; /* Change border color on hover */
}
